In [2]:
# Generic library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
train_df=pd.read_csv("C:/Users/Nagi/Documents/Hackathon_20190916/Hackathon/CreditCardFraud/credit_train.csv")
test_df=pd.read_csv("C:/Users/Nagi/Documents/Hackathon_20190916/Hackathon/CreditCardFraud/credit_test.csv")

In [75]:
train_df['Class'].value_counts()

'0'    227455
'1'       390
Name: Class, dtype: int64

In [4]:
print("Train size : rows",train_df.shape[0]," and columns",train_df.shape[1])
print("Test size : rows",test_df.shape[0]," and columns",test_df.shape[1])

Train size : rows 227845  and columns 30
Test size : rows 56962  and columns 30

In [5]:
train_df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class'],
      dtype='object')

In [6]:
train_df.columns.difference(test_df.columns)

Index([], dtype='object')

In [7]:
train_df["source"] = "train"
test_df["source"] = "test"

In [8]:
test_df = test_df.drop(columns=["Class"])

In [9]:
df = pd.concat([train_df,test_df])

C:\Users\Nagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [10]:
df.dtypes

Amount    float64
Class      object
V1        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V2        float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
source     object
dtype: object

In [11]:
df.shape

(284807, 31)

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Amount,284807.0,8.834962e+01,250.120109,0.000000,5.600000,22.000000,77.165000,25691.160000
V1,284807.0,1.149913e-15,1.958696,-56.407510,-0.920373,0.018109,1.315642,2.454930
V10,284807.0,2.256948e-15,1.088850,-24.588262,-0.535426,-0.092917,0.453923,23.745136
V11,284807.0,1.703959e-15,1.020713,-4.797473,-0.762494,-0.032757,0.739593,12.018913
V12,284807.0,-1.237276e-15,0.999201,-18.683715,-0.405571,0.140033,0.618238,7.848392
V13,284807.0,8.420710e-16,0.995274,-5.791881,-0.648539,-0.013568,0.662505,7.126883
V14,284807.0,1.201584e-15,0.958596,-19.214325,-0.425574,0.050601,0.493150,10.526766
V15,284807.0,4.901287e-15,0.915316,-4.498945,-0.582884,0.048072,0.648821,8.877742
V16,284807.0,1.445752e-15,0.876253,-14.129855,-0.468037,0.066413,0.523296,17.315112
V17,284807.0,-3.627604e-16,0.849337,-25.162799,-0.483748,-0.065676,0.399675,9.253526
V18,284807.0,9.460330e-16,0.838176,-9.498746,-0.498850,-0.003636,0.500807,5.041069
V19,284807.0,1.051998e-15,0.814041,-7.213527,-0.456299,0.003735,0.458949,5.591971
V2,284807.0,3.343825e-16,1.651309,-72.715728,-0.598550,0.065486,0.803724,22.057729
V20,284807.0,6.499475e-16,0.770925,-54.497720,-0.211721,-0.062481,0.133041,39.420904
V21,284807.0,1.525166e-16,0.734524,-34.830382,-0.228395,-0.029450,0.186377,27.202839
V22,284807.0,-3.424988e-16,0.725702,-10.933144,-0.542350,0.006782,0.528554,10.503090
V23,284807.0,2.765342e-16,0.624460,-44.807735,-0.161846,-0.011193,0.147642,22.528412
V24,284807.0,4.491545e-15,0.605647,-2.836627,-0.354586,0.040976,0.439527,4.584549
V25,284807.0,5.149942e-16,0.521278,-10.295397,-0.317145,0.016594,0.350716,7.519589
V26,284807.0,1.694293e-15,0.482227,-2.604551,-0.326984,-0.052139,0.240952,3.517346
V27,284807.0,-3.742146e-16,0.403632,-22.565679,-0.070840,0.001342,0.091045,31.612198
V28,284807.0,-1.182487e-16,0.330083,-15.430084,-0.052960,0.011244,0.078280,33.847808
V3,284807.0,-1.419190e-15,1.516255,-48.325589,-0.890365,0.179846,1.027196,9.382558
V4,284807.0,2.073862e-15,1.415869,-5.683171,-0.848640,-0.019847,0.743341,16.875344
V5,284807.0,9.978906e-16,1.380247,-113.743307,-0.691597,-0.054336,0.611926,34.801666
V6,284807.0,1.484022e-15,1.332271,-26.160506,-0.768296,-0.274187,0.398565,73.301626
V7,284807.0,-5.807513e-16,1.237094,-43.557242,-0.554076,0.040103,0.570436,120.589494
V8,284807.0,1.046980e-16,1.194353,-73.216718,-0.208630,0.022358,0.327346,20.007208
V9,284807.0,-2.403095e-15,1.098632,-13.434066,-0.643098,-0.051429,0.597139,15.594995

In [13]:
df.duplicated().sum()

7101

In [14]:
df.isna().sum()

Amount        0
Class     56962
V1            0
V10           0
V11           0
V12           0
V13           0
V14           0
V15           0
V16           0
V17           0
V18           0
V19           0
V2            0
V20           0
V21           0
V22           0
V23           0
V24           0
V25           0
V26           0
V27           0
V28           0
V3            0
V4            0
V5            0
V6            0
V7            0
V8            0
V9            0
source        0
dtype: int64

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
def split_dataframe(df,split_size):
    col_lst=df.columns.drop(["Class","source"]) 
    n=split_size
    final = [col_lst[i * n:(i + 1) * n] for i in range((len(col_lst) + n - 1) // n )] 
    return final

In [17]:
x=split_dataframe(df,5)
for i in x:
    print(i)

Index(['Amount', 'V1', 'V10', 'V11', 'V12'], dtype='object')
Index(['V13', 'V14', 'V15', 'V16', 'V17'], dtype='object')
Index(['V18', 'V19', 'V2', 'V20', 'V21'], dtype='object')
Index(['V22', 'V23', 'V24', 'V25', 'V26'], dtype='object')
Index(['V27', 'V28', 'V3', 'V4', 'V5'], dtype='object')
Index(['V6', 'V7', 'V8', 'V9'], dtype='object')

In [18]:
df.groupby('Class').mean()

,Amount,V1,V10,V11,V12,V13,V14,V15,V16,V17,...,V26,V27,V28,V3,V4,V5,V6,V7,V8,V9
Class,,,,,,,,,,,,,,,,,,,,,
'0',90.421454,-0.024517,0.011382,-0.013546,0.007729,0.001813,0.012003,-0.009159,0.003812,0.011076,...,-0.000428,0.000856,0.000488,0.034111,-0.011519,-0.004635,-0.010261,0.015949,-0.005827,-0.008173
'1',112.962467,-4.703757,-5.546566,3.691939,-6.120548,-0.104869,-6.905756,-0.099330,-4.038101,-6.565916,...,0.028668,0.209918,0.092461,-6.914776,4.522026,-3.106686,-1.443250,-5.394067,0.952026,-2.556690

In [19]:
df['Class']=df['Class'].str.strip("'")

In [25]:
df['Class']=df['Class'].str.strip(".")

In [20]:
df['Class']=df['Class'].astype(float)

In [21]:
df.columns

Index(['Amount', 'Class', 'V1', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V17', 'V18', 'V19', 'V2', 'V20', 'V21', 'V22', 'V23', 'V24',
       'V25', 'V26', 'V27', 'V28', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
       'source'],
      dtype='object')

In [22]:
train_final = df[df.source=="train"]
test_final = df[df.source=="test"]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
test_final.drop(['source','Class'], axis=1,inplace=True)
X = train_final.drop(['Class','source'], axis=1)
Y = train_final['Class']

C:\Users\Nagi\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [25]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.2, random_state=1,stratify=Y)

In [26]:
test_result=test_final.copy(deep=True)
print(train_X.shape,test_X.shape,train_Y.shape,test_Y.shape,test_final.shape,test_result.shape)

(177157, 29) (44290, 29) (177157,) (44290,) (56259, 29) (56259, 29)

In [65]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,precision_recall_curve, auc, roc_auc_score, roc_curve, recall_score,f1_score,precision_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score

model_metrics={}
def calc_metrics_and_predict(model,model_label,train_X,test_X,train_Y,test_Y, test_final,scaler,cv):
    if scaler is not None:
        # Scaling
        print("Scaling applied")
        train_X = scaler.fit_transform(train_X)
        test_X = scaler.transform(test_X)
    print("fit data")    
    model.fit(train_X, train_Y)
    print("predict data")
    yhat_train = model.predict(train_X)
    accuracy=accuracy_score(train_Y,yhat_train)
    f1_macro=f1_score(train_Y, yhat_train, average='macro') 
    f1_micro=f1_score(train_Y, yhat_train, average='micro') 
    f1_weighted=f1_score(train_Y, yhat_train, average='weighted')
    recall=recall_score(train_Y, yhat_train)
    precision=precision_score(train_Y, yhat_train)
    if cv==True:
        print("Cross-Validation score")
        scores = cross_val_score(model, train_X, train_Y, cv = 10,scoring='accuracy') 
        avg_cross_val_score = np.mean(np.sqrt(np.abs(scores)))
    else:
        avg_cross_val_score=None
    #avg_cross_val_score=0
    model_metrics[model_label]=[accuracy,f1_macro,f1_micro,f1_weighted,recall,precision,avg_cross_val_score]
    # Predict test data and add to test_result dataframe
    print(test_result.shape,test_final.shape)
    test_final.fillna(0,inplace=True)
    test_result[model_label] =  model.predict(test_final.drop('Class',axis=1))
    print(test_result.shape,test_final.shape)
    return model_metrics

In [28]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import cross_val_score, train_test_split, StratifiedKFold
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))
sel.fit(train_X, train_Y)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
        max_features=None, norm_order=1, prefit=False, threshold=None)

In [29]:
sel.get_support()

array([False, False,  True,  True,  True, False,  True, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [30]:
selected_feat= train_X.columns[(sel.get_support())]
len(selected_feat)

6

In [31]:
selected_feat

Index(['V10', 'V11', 'V12', 'V14', 'V16', 'V17'], dtype='object')

In [37]:
df_selected_feat = df[['V10', 'V11', 'V12', 'V14', 'V16', 'V17','source','Class']]

In [38]:
train_sel_final = df_selected_feat[df_selected_feat.source=="train"]
test_sel_final = df_selected_feat[df_selected_feat.source=="test"]

In [39]:
train_sel_final.drop(columns="source",inplace=True)
test_sel_final.drop(columns="source",inplace=True)

C:\Users\Nagi\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [40]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression


#split train data
train_sel_X = train_sel_final.drop(columns=["Class"])
train_sel_Y = train_sel_final["Class"]
test_sel_X = test_sel_final.drop(columns=["Class"])
test_sel_Y = test_sel_final["Class"]

In [66]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import cross_val_score, train_test_split, StratifiedKFold
rmf_sel = RandomForestClassifier(n_jobs = -1)
model_metrics=calc_metrics_and_predict(rmf_sel,'Random Forest',train_sel_X,test_sel_X,train_sel_Y,test_sel_Y,test_sel_final,None, True)
model_metrics

fit data

C:\Users\Nagi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

predict data
Cross-Validation score
(56259, 29) (56259, 7)
(56259, 30) (56259, 7)

C:\Users\Nagi\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

{'Random Forest': [0.9999322637019241,
  0.9898615800559485,
  0.9999322637019241,
  0.9999316705196484,
  0.9628647214854111,
  0.9972527472527473,
  0.9997741857725796]}

In [64]:
train_final.head()

,Amount,Class,V1,V10,V11,V12,V13,V14,V15,V16,...,V27,V28,V3,V4,V5,V6,V7,V8,V9,source
0,4.0,0.0,-1.456417,-1.138995,-0.715508,-0.254224,-1.846171,1.245659,-0.971792,1.078462,...,0.067085,0.072365,-0.635254,-2.765440,0.282230,-0.758234,0.365270,0.927673,0.033947,train
1,11.8,0.0,-0.879383,-0.293550,-0.381957,0.326399,0.417563,0.601584,1.204848,-0.519876,...,0.314182,0.120301,0.834804,0.904867,0.164135,-0.486903,0.286551,0.437374,-0.751725,train
2,14.0,0.0,1.270210,0.731290,1.785716,0.214798,0.189485,-0.214334,0.649570,1.323136,...,0.050163,0.014809,1.070372,-0.745716,-1.365979,-0.049645,-1.197854,0.207163,-0.677824,train
3,32.0,0.0,1.967062,-0.224304,0.938790,0.958131,0.411124,-0.957568,-1.072667,0.047732,...,-0.005402,-0.030380,-2.472415,1.290097,1.284233,-0.398478,0.641294,-0.209637,-0.219990,train
4,64.9,0.0,-0.626555,-0.506793,-0.609644,0.231146,0.504067,0.584423,0.930015,-0.210375,...,0.031509,0.106962,0.871426,0.950972,-0.311923,-0.711223,0.686529,0.214618,-0.916320,train

In [73]:
test_sel_final.Class.unique()

array([0.])

In [67]:
train_sel_final.head()

        V10       V11       V12       V14       V16       V17  Class
0 -1.138995 -0.715508 -0.254224  1.245659  1.078462 -0.978420    0.0
1 -0.293550 -0.381957  0.326399  0.601584 -0.519876  0.241959    0.0
2  0.731290  1.785716  0.214798 -0.214334  1.323136  0.156679    0.0
3 -0.224304  0.938790  0.958131 -0.957568  0.047732  0.575615    0.0
4 -0.506793 -0.609644  0.231146  0.584423 -0.210375 -0.049258    0.0

In [81]:
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

In [80]:
! pip install --user imblearn

Collecting imblearn
  Using cached https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Using cached https://files.pythonhosted.org/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl
Requirement already satisfied: joblib>=0.11 in c:\users\nagi\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: numpy>=1.11 in c:\users\nagi\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.16.2)
Requirement already satisfied: scikit-learn>=0.21 in c:\users\nagi\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.21.3)
Requirement already satisfied: scipy>=0.17 in c:\users\nagi\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.1)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0

In [82]:
! pip install --user imblearn.over_sampling

Collecting imblearn.over_sampling

  Could not find a version that satisfies the requirement imblearn.over_sampling (from versions: )
No matching distribution found for imblearn.over_sampling